.lista-bicicletas li {
  flex: 1;
  min-width: 280px;
}
.conteiner-escolha ul {
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 0 20px;
  max-width: 1400px;
}
.lista-bicicletas a {
  display: block;
}

.conteiner-escolha h2 {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.conteiner-escolha {
  margin-top: 80px;
  margin-bottom: 120px;
}
.lista-bicicletas h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.lista-bicicletas h3:before {
  content: "";
  background-color: var(--cor-p1);
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  border-radius: 4px;
  transition: width 0.3s;
}
.lista-bicicletas a:hover h3:before {
  width: 24px;
}
.lista-bicicletas li span {
  margin-left: 20px;
}

.lista-bicicletas:before:hover {
  transition: 0.3s;
  width: 17px;
}

@media (max-width: 800px) {
  .conteiner-escolha {
    margin-bottom: 0px;
  }
}
