/* sessões home */
@import url("./styles/home/main.css");
@import url("./styles/home/section-escolha.css");
@import url("./styles/home/section-tecnologias.css");
@import url("./styles/home/section-parceiros.css");
@import url("./styles/home/section-depoimento.css");
@import url("./styles/home/section-seguro.css");


/* Contatos */
@import url("./styles/contato/contato.css");
@import url("./styles/contato/locais.css");

/* bicicletas */
@import url("./styles/bicicletas/bicicletas.css");

/* bicicletas internas */
@import url("./styles/bicicletas-internas/nimbus.css");

/* seguros */
@import url("./styles/seguro/seguros.css");
@import url("./styles/seguro/vantagens.css");
@import url("./styles/seguro/perguntas.css");

/* Termos */
@import url("./styles/termos/termos.css");

/* Global */
@import url("./styles/global/header.css");
@import url("./styles/global/footer.css");
@import url("./styles/global/reset.css");

/* css utilitário */
@import url("./utilidades/componestes.css");
@import url("./utilidades/cores.css");
@import url("./utilidades/tipografia.css");


:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}