.conteiner-condicoes{
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.conteiner-condicoes h3{
  margin-bottom: 20px;
}

.conteiner-condicoes p + p{
  margin-top: 20px;
}
