.section-locais img{
margin-top: 60px;
}
.conteudo-locais{
  background-color: #fff;
  padding: 32px 60px;
}
.horario img{
  width: 20px;
  height: 20px;
  margin-top: 0px;
}
.lojas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 120px;
  gap: 40px;
}

.lista-locais{
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--cor-5);
}
.lista-locais p{
  padding-left: 10px;
}
.dados-contato{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 32px;
}

.horario{
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}
@media (max-width: 800px){
  .dados-contato{
    grid-template-columns: 1fr;
  }
  .lojas{
    grid-template-columns: 1fr;
  }
  .conteudo-locais{
    padding: 16px 30px;
  }
}