.tecnologias{
  height: 1068px;
  box-shadow: inset 0 80px var(--cor-0)
  
}
.conteiner-tec{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 62px;
  
}
.conteudo-tecnologias{
  margin-top: 160px;
  grid-column: 1;
  padding-bottom: 180px;
}

.tecnologias span{ 
  margin-top: 80px;
}

.tecnologias h2{
  margin-bottom: 32px;
  margin-top: 20px;
}
.tecnologias p{
  margin-bottom: 20px;
}
.tecnologias a{
  border-bottom: 4px solid var(--cor-p1);
}

.tecnologias img{
  width: 560px;
  height: 1148px;
}
.lista-tecnologias img{
  height: 24px;
  width: 24px;
}
.lista-tecnologias ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 112px;
  text-transform: capitalize;
}

.lista-tecnologias h3{
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (max-width: 1200px){
  .lista-tecnologias ul{
    margin-top: 80px;
  }
}


@media (max-width: 800px){
  .img-tecnologias img{
    display: none;
  }
  .conteiner-tec{
    gap: 0px;
  }
  .conteudo-tecnologias{
    padding-bottom: 0px;
    
  }
  .tecnologias{
    height: auto;
  }
}
@media (max-width: 600px){
  .lista-tecnologias ul{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 20px;
    margin-bottom: 70px;
  }
  
}
